@{
    ViewBag.Title = "شبیه سازی ایمیل";
}

<div class="row margin-top-5">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    شبیه سازی فعال سازی اکانت
                </h3>
            </div>
            <div class="panel-body">
                <hr/>
                <i class="fa fa-check text-success"></i>
                <a href="@ViewBag.CallbackUrl">فعال سازی اکانت کاربری</a>
            </div>
        </div>
    </div>
</div>