@{

}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>تأیید تغییر کلمه عبور</strong>
    </div>
    <div class="panel-body">
        <p>
            با سلام.
            <br />
            کاربر گرامی کلمه عبور شما با موفقیت به تغییر یافت.هم اکنون شما به صورت اتوماتیک وارد حساب خود شده اید.
            <br />
            با تشکر 
        </p>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("ورود به حساب کاربری", MVC.Account.ActionNames.Login, MVC.Account.Name, null, new { @class = "btn btn-block btn-info btn-sm" })
                </div>
            </div>
        </div>
    }

</div>